<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.testhindwindow"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="16" />
    
    <application
        android:icon="@drawable/ic_launcher"
        android:label="@string/apli_name"
        android:theme="@style/AppTheme"
		android:allowBackup="true" >
       
        
	<provider 
            android:name="com.exsample.sqlite.Dataprovider"
            android:authorities="com.exsample.sqlite.Dataprovider.eventDB"/>
        
        <activity
            android:name="com.example.testhindwindow.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
	            <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        
        <activity 
            android:name="com.example.testhindwindow.SettingNumAndStartBt"
            android:label="@string/app_name">
			
        </activity>
        
		<receiver
		    android:name="com.example.testhindwindow.BroadCast"
		    android:enabled="true">
		    <intent-filter>
<!-- 				<action android:name ="android.intent.action.SCREEN_ON"/> -->
<!-- 				<action android:name="android.intent.action.SCREEN_OFF"/> -->
<!-- 				<action android:name="android.intent.action.BOOT_COMPLETED"/> -->
				<action android:name="android.intent.action.SCREEN_ON"/>
				<action android:name="android.intent.action.SCREEN_OFF"/>
<!-- 				<category android:name="android.intent.category.DEFAULT"/> -->
		     </intent-filter>
		</receiver>

		<service 
		    android:name=".LayerService"
		    android:label="@string/service_name" >
		</service>
		
		<service 
		    android:name=".ScreenService"
		    android:label="@string/service_name" >
		</service>
		
    </application>

    <uses-permission 
        android:name="android.permission.SYSTEM_ALERT_WINDOW"/>
    <uses-permission
        android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission
        android:name="android.permission.GET_ACCOUNTS"/>
    <uses-permission
         android:name="android.permission.READ_PHONE_STATE" />
    
</manifest>